@model IEnumerable<ShopBanHangOnline.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}

<h1>Search</h1>
<h6>Có <b>@Model.Count()</b> sản phẩm </h6>
@await Html.PartialAsync("Productitem",Model);